[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pytest = "*"

[requires]
python_version = "3"

[packages]
Hydra = "*"
hydra-core = "*"
pytest = "*"
hydra-nevergrad-sweeper = "*"
torchsummary = "*"
lightgbm = "*"
omegaconf = "*"
pytorch-lightning = "*"

[packages.high_order_layers_torch]
git = "git://github.com/jloveric/high-order-layers-torch"
editable = true
ref = "master"
